@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Color Code Decoder for Electronic Components</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
                    Look up the Color Code Tables values for the below listed Electronic Components using the standard color code table
                    <a href="https://en.wikipedia.org/wiki/Electronic_color_code">per IEC 60062:2016</a>
                </p>
    </div>
    <div class="col-md-4">
        <h2>Resistor</h2>
        <p>Build a resistor and calculate the Ohms for it</p>
    </div>
</div>